In [11]:
# librerias data wrangling
import pandas as pd
import numpy as np
# import bamboolib as bam

import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

#remueve limite de lineas y columnas mostradas
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# limita el numero de cifras significativas a 2, esto elimina la presentacion en exponencial
pd.options.display.float_format = '{:.0f}'.format

### UNIVARIADO

analisis de una variable a la vez <br>
    * Histogramm <br>
    * PDF (Probability Density Function)<br>
    * CDF (Cumulative Distribution Function)<br>
    * Box and Whiskers Plot<br>
    * Violin and Whiskers Plot

In [12]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,30,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,57,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,54,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,71,151.65,Yes

## Informacion estructura 'df'

In [51]:
a=len(df.axes[0])
b=len(df.axes[1])
lista=[a,b]
infodf=pd.DataFrame(lista,columns=['Conteo'], index=['n_filas', 'n_columnas'])
infodf.head()

            Conteo
n_filas       7043
n_columnas      21

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

### Insights: <br>
* nuemero de line
* el data frame se compones de 3 variables numericas: 'SeniorCitizen', 'tenure'

## Conteo y modalidades de las variables del data frame 'df'

In [24]:
# count: conteo valores excluye valores nulos
# size: conteo valores incluidos los nulos
# nunique: conteo de valores unicos o distintos
# unique: valores unicos que asume la variable
df.agg(['count','size','nunique', 'unique'])

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
size,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
nunique,7043,2,2,2,2,73,2,3,3,3,3,3,3,3,3,3,2,4,1585,6531,2
unique,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOC...","[Female, Male]","[0, 1]","[Yes, No]","[No, Yes]","[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...","[No, Yes]","[No phone service, No, Yes]","[DSL, Fiber optic, No]","[No, Yes, No internet service]","[Yes, No, No internet service]","[No, Yes, No internet service]","[No, Yes, No internet service]","[No, Yes, No internet service]","[No, Yes, No internet service]","[Month-to-month, One year, Two year]","[Yes, No]","[Electronic check, Mailed check, Bank transfer...","[29.85, 56.95, 53.85, 42.3, 70.7, 99.65, 89.1,...","[29.85, 1889.5, 108.15, 1840.75, 151.65, 820.5...","[No, Yes]"

### Insights: <br>